body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-wrapper {
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
  background-color: lightgray;
  border: 2px solid red;
  padding: 20px 0;

}


.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}

.inp_wrapper {
  display: flex;
  margin: 10px;
  align-items: center;
}

.inp_text {
  max-width: 140px;
  min-width: 50px;
  margin: 10px;
}

.form-login > input {
  margin-bottom: 20px;

}





.profile-info {


}


.profile-buttons > button {
  margin: 10px;
}









